body {
  height: auto;
  margin: 10px;
  background-color: rgba(13, 36, 56, 1);
  font-family: sans-serif;
}

.nav .nav-item {
  font-size: 20px;
}

.headerMe img {
  height: 400px;
  width: 400px;
}

.aboutMe img {
  height: 500px;
  width: 500px;
}

/* Card */
.card {
  background-color: rgba(30, 56, 81, 1);
}

.card .readMore {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Vertical Line */
.vertical-line {
  border-left: 3px #f8f9fa solid;
  height: auto;
  width: 0px;
}

/* Project */
.projectMe .card {
  margin: 2rem;
}

.projectMe .rounded-top-4 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.projectMe .rounded-4 {
  border-radius: 1rem;
}
